﻿.Aufgabe{
	display: border-block;
	color: black;
	font-size: 2vw;
}
.textAufgabe{
	background-color: Gainsboro;
	border: 2px solid black;
	border-radius: 5px;
	font-weight: bold;
}
.textAufgabeHeader{
	background-color: lightSlateGray;
	border: 2px solid black;
	border-radius: 5px;
	font-weight: bold;
}
.textAntwort{
	border: 1px solid black;
	background-color: rgb(232,241,255);
}

